In [346]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [347]:
data=pd.read_excel("timetable.xlsx")

In [348]:
data.dropna(axis=1,how="all",inplace=True)

In [349]:
new_data=pd.DataFrame(columns=["Day","Room","Time","Course","Type"])
new_data.reset_index()

Empty DataFrame
Columns: [index, Day, Room, Time, Course, Type]
Index: []

In [350]:
room_number=data["Room"]
data_class=data.iloc[:36]
data_lab=data.iloc[36:]
two_spec=data.iloc[6:8]

In [351]:
apl=data_class.columns
apl=apl.drop(["Room","Unnamed: 8"])
list1=[]
list2=[]
list3=[]
list4=[]
list5=[]
for a in apl:
  count=0
  x=data_class[a]
  for i in range(0,36):
    list1.append(a)
    list2.append(room_number[count])
    list3.append("Theory")
    list4.append("Monday")
    list5.append(x[count])
    count=count+1

In [352]:
data_lab=data_lab.reset_index(drop=True)
room_number=data_lab["Room"]
apl1=data_lab.columns
apl1=apl1.drop(["Room","Unnamed: 8"])
apl1
for a in apl1:
  count=0
  x=data_lab[a]
  print(a)
  for i in range(0,16):
    list1.append(a)
    list2.append(room_number[count])
    list3.append("Lab")
    list4.append("Monday")
    list5.append(x[count])
    count=count+1

08:30-09:50
10:00-11:20
11:30-12:50
01:00-02:20
02:30-03:50
03:55-05:15
05:20-06:40
06:45-08:05

In [353]:
new_data["Time"]=list1   
new_data["Course"]=list5
new_data["Room"]=list2
new_data["Type"]=list3
new_data["Day"]=list4

In [354]:
new_data=new_data.dropna(how="any")
new_data=new_data.drop(384)

In [358]:
new_data

        Day        Room         Time                      Course    Type
0    Monday       C-301  08:30-09:50                   PF (CS-A)  Theory
1    Monday       C-302  08:30-09:50                   AP (CS-B)  Theory
2    Monday       C-303  08:30-09:50     Islamic Studies (CS-C)   Theory
3    Monday       C-304  08:30-09:50                   PF (CS-D)  Theory
4    Monday       C-305  08:30-09:50             Calculus (CS-E)  Theory
..      ...         ...          ...                         ...     ...
362  Monday  A-Mehran 1  02:30-03:50  S/w Const & Dev Lab (SE-S)     Lab
363  Monday  A-Mehran 2  02:30-03:50        Eng Comp Lab (AI-A1)     Lab
365  Monday    A-CALL-1  02:30-03:50        Eng Comp Lab (AI-A2)     Lab
366  Monday    A-CALL-2  02:30-03:50        Eng Comp Lab (AI-B1)     Lab
367  Monday    A-CALL-3  02:30-03:50        Eng Comp Lab (AI-B2)     Lab

[233 rows x 5 columns]